
src/components/Path/Path.css
src/components/Path/Path.jsx .path-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.path {
  overflow: hidden;
  border: 5px solid var(--color-orange);
}

.path--node {
  padding: 24px 24px 24px 0px;
  display: inline-block;
  font-size: var(--font-size-large);
}

.path--node::after {
  content: "⇝";
  padding-left: 24px;
  display: inline-block;
  color: var(--color-orange);
}

.path--node:first-child {
  padding-left: 24px;
}

.path--node:last-child::after {
  display: none;
}
