.nodes-container {
  height: 100%;
  width: 100px;
  display: flex;
  padding: 0px 20px;
  flex-direction: column;
  justify-content: space-around;
}

.node {
  padding: 5%;
  width: 80%;
  text-align: center;
  border-radius: 50%;
  color: var(--color-white);
  background-color: var(--color-bg);
  font-size: var(--font-size-medium);
  border: 5px solid var(--color-orange);
}

.node--active {
  padding: 5%;
  width: 80%;
  text-align: center;
  border-radius: 50%;
  color: var(--color-black);
  font-size: var(--font-size-medium);
  background-color: var(--color-orange);
  border: 5px solid var(--color-black);
}
